<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- http://localhost:4200/servers/5/edit?allowEdit=1#loading -->
      <!-- [routerLink]="['/servers', 5, 'edit']" -->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment = "loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <button class = "btn btn-info"
      (click)="onReload()">
      Reload Server</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

